backcall==0.1.0
click==6.7
decorator==4.3.0
EasyProcess==0.2.3
Flask==1.0.2
Flask-Login==0.4.1
Flask-PyMongo==0.5.2
Flask-WTF==0.14.2
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycodestyle==2.4.0
Pygments==2.2.0
pymongo==3.7.0
PyVirtualDisplay==0.2.1
selenium==3.12.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.2.1
