.nav-single-line{
  display: inline-block;
}

.reacipe_header {
    margin-top: 5px;
}

.wrapper {
  margin-right: 6%;
}

.content {
  float: left;
  width: 100%;
  padding-right: 25px;
}

.sidebar {
  float: right;
  width: 6%;
  margin-right: -6%;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
