{% extends 'base.html'%} {% block content %}

<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h3 class="form-heading">Add a Cuisine</h3>
    <form action="{{ url_for('insert_cuisine') }}" method="POST" class="col s12">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <div class="input-field col s12">
                <input id="cuisine_name" name="cuisine_name" type="text" class="validate">
                <label for="icon_prefix">Cusine Name e.g. 'French'</label>
            </div>
            <button class="waves-effect waves-light btn-small" type="submit" name="action" id="add_cuisine">Add Cuisine
                <i class="material-icons right">add_box</i>
              </button>
            </form>
          </div>
        <div class="right-column"></div>
       </div>
{% endblock %}
