{% extends 'base.html' %} {% block content %}
<script>

function addFieldInstructions() {

  var el = document.getElementById('li-instructions');
  var elChild = document.createElement('li');
  var numberInstructions = document.getElementsByClassName("input_fields_wrap_instructions");

  // Give the new div some content
  elChild.innerHTML = `<input name="instruction[${numberInstructions.length}]" type="text" class="validate input_fields_wrap_instructions" value="{{ing}}"/><button onclick="this.parentNode.parentNode.removeChild(this.parentNode);" type="button">Remove</button>`;

  // Jug it into the parent element
  el.appendChild(elChild);

}

function addFieldIngredients() {

  var el = document.getElementById('li-ingredients');
  var elChild = document.createElement('li');
  var numberIngredients = document.getElementsByClassName("input_fields_wrap_ingredients");

  // Give the new div some content
  elChild.innerHTML = `<input name="ingredient[${numberIngredients.length}]" type="text" class="validate input_fields_wrap_ingredients" value="{{ing}}"/><button onclick="this.parentNode.parentNode.removeChild(this.parentNode);" type="button">Remove</button>`;

  // Jug it into the parent element
  el.appendChild(elChild);

}

function addFifteenMinutes() {

  totalTime = parseInt(document.getElementById('total-time').value);
  totalTime += 15;
  document.getElementById('total-time').value = totalTime;

}

function minusFifteenMinutes() {

  totalTime = parseInt(document.getElementById('total-time').value);

  if (totalTime > 0) {
    totalTime -= 15;
    document.getElementById('total-time').value = totalTime;
  }
}

function add1Vote() {

  recipeVotes = 0;
  recipeVotes = parseInt(document.getElementById('user-votes').value);
  recipeVotes += 1;
  document.getElementById('user-votes').value = recipeVotes;

}

function minus1Vote() {

  recipeVotes = parseInt(document.getElementById('user-votes').value);
  recipeVotes -= 1;
  document.getElementById('user-votes').value = recipeVotes;

}

</script>
<h3>Add Recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">assignment</i>
              <input id="recipe-name" name="recipe_name" type="text" required>
              <label for="icon_prefix">Recipe Name</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="recipe-description" name="recipe_description"  class="materialize-textarea" required></textarea>
                <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="category" name="category_name" required>
              <option value="" disabled selected>Choose Category</option>
              {% for cat in categories %}
              <option value="{{cat.category_name}}">{{cat.category_name}}</option>
              {% endfor %}
            </select>
            <label>Recipe Category</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="cuisine" name="cuisine_name" required>
              <option value="" disabled selected>Choose Cuisine</option>
              {% for cui in cuisines %}
              <option value="{{cui.cuisine_name}}">{{cui.cuisine_name}}</option>
              {% endfor %}
            </select>
            <label>Recipe Cuisine</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">assignment</i>
              <input id="total-time" name="total_time" type="text" value="0" required>
              <button class="plus_15_button" onclick="addFifteenMinutes()" type="button"> + 15 mins</button>
              <button class="minus_15_button" onclick="minusFifteenMinutes()" type="button"> - 15 mins</button>
              <label for="icon_prefix">Total Time</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">assignment</i>
              <input id="user-votes" name="user_votes" type="text" value="0" required>
              <button class="plus_1_vote_button" onclick="add1Vote()" type="button"> + 1</button>
              <button class="minus_1_vote_button" onclick="minus1Vote()" type="button"> - 1</button>
              <label for="icon_prefix">User Votes</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="add_field_button_instructions" onclick="addFieldInstructions()" type="button">Add More Instructions</button>
            <div>
              <ol id="li-instructions" class="input_fields_wrap_instructions">
                <li><input type="text" name="instructions[0]" required></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="add_field_button_ingredients" onclick="addFieldIngredients()" type="button">Add More Ingredients</button>
            <div>
              <ol class="input_fields_wrap_ingredients" id="li-ingredients">
                <li><input type="text" name="ingredient[0]" required></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" id="add-recipe" type="submit" name="action">Add Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>
{% endblock %}
