
{% extends 'base.html'%} {% block content %}

<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h3 class="form-heading">Add a Category</h3>
    <form action="{{ url_for('insert_category') }}" method="POST" class="col s12">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div class="input-field col s12">
          <input id="category_name" name="category_name" type="text" class="validate">
          <label for="icon_prefix">Category Name e.g. 'Quick Family Meal'</label>
        </div>
        <button class="waves-effect waves-light btn-small" type="submit" name="action" id="add_category">
<i class="material-icons right" id="add_category">add_box</i>

          Add Category
       </button>
     </form>
   </div>
 <div class="right-column"></div>
</div>
{% endblock %}
