{% extends 'base.html' %} {% block content %}
<script>

function addFieldInstructions() {

  var el = document.getElementById('li-instructions');
  var elChild = document.createElement('li');
  var numberInstructions = document.getElementsByClassName("input_fields_wrap_instructions");

  // Give the new div some content
  elChild.innerHTML = `<input name="instruction[${numberInstructions.length}]" type="text" class="validate input_fields_wrap_instructions" value="{{ing}}"/><button onclick="this.parentNode.parentNode.removeChild(this.parentNode);" type="button" class="waves-effect waves-light btn-small">Remove</button>`;

  // Jug it into the parent element
  el.appendChild(elChild);

}

function addFieldIngredients() {

  var el = document.getElementById('li-ingredients');
  var elChild = document.createElement('li');
  var numberIngredients = document.getElementsByClassName("input_fields_wrap_ingredients");

  // Give the new div some content
  elChild.innerHTML = `<input name="ingredient[${numberIngredients.length}]" type="text" class="validate input_fields_wrap_ingredients" value="{{ing}}"/><button onclick="this.parentNode.parentNode.removeChild(this.parentNode);" type="button" class="waves-effect waves-light btn-small">Remove</button>`;

  // Jug it into the parent element
  el.appendChild(elChild);

}

function addFifteenMinutes() {

  totalTime = parseInt(document.getElementById('total-time').value);
  totalTime += 15;
  document.getElementById('total-time').value = totalTime;

}

function minusFifteenMinutes() {

  totalTime = parseInt(document.getElementById('total-time').value);

  if (totalTime > 0) {
    totalTime -= 15;
    document.getElementById('total-time').value = totalTime;
  }
}

function add1Vote() {

  recipeVotes = 0;
  recipeVotes = parseInt(document.getElementById('user-votes').value);
  recipeVotes += 1;
  document.getElementById('user-votes').value = recipeVotes;

}

function minus1Vote() {

  recipeVotes = parseInt(document.getElementById('user-votes').value);
  recipeVotes -= 1;
  document.getElementById('user-votes').value = recipeVotes;

}

</script>
<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h2 class="form-heading">Add Recipe</h2>
      <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <table class="noborder">
          <tr>
            <td class="recipe-header"><p class="bold-heading">Recipe Name</p></td>
            <td><input id="recipe-name" name="recipe_name" type="text" required></td>
            <td></td>
          </tr>
        <tr>
          <td class="recipe-description"><p class="bold-heading">Description</p></td>
          <td></td>
          <td></td>
        <tr>
          <td colspan="3"><textarea id="recipe-description" name="recipe_description"  class="materialize-textarea" required></textarea></td>
        </tr>
        <tr>
          <td class="category-name"><p class="bold-heading">Category</p></td>
          <td>
            <select id="category" name="category_name" class="browser-default" required>
              <option value="" disabled selected>Choose Category</option>
              {% for cat in categories %}
                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
              {% endfor %}
            </select>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="cuisine-name">
            <p class="bold-heading">Cuisine</p>
          </td>
          <td>
            <select id="cuisine" name="cuisine_name" class="browser-default" required>
              <option value="" disabled selected>Choose Cuisine</option>
              {% for cui in cuisines %}
                <option value="{{cui.cuisine_name}}">{{cui.cuisine_name}}</option>
              {% endfor %}
            </select>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="instruction-header"><p class="bold-heading">Instructions</p></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <ol id="li-instructions" class="input_fields_wrap_instructions">
              <li><input type="text" name="instructions[0]" required></li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            <button class="add_field_button_instructions waves-effect waves-light btn-small" onclick="addFieldInstructions()" type="button">Add More Instructions</button>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="ingredients-header"><p class="bold-heading">Ingredients</p></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <ol class="input_fields_wrap_ingredients" id="li-ingredients">
              <li><input type="text" name="ingredient[0]" required></li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            <button class="add_field_button_ingredients waves-effect waves-light btn-small" onclick="addFieldIngredients()" type="button">Add More Ingredients</button>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="total-time"><p class="bold-heading">Total Time</p></td>
          <td><input id="total-time" name="total_time" type="text" value="0" required></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="plus_15_button waves-effect waves-light btn-small" onclick="addFifteenMinutes()" type="button"> + 15 mins</button>
            <button class="minus_15_button waves-effect waves-light btn-small" onclick="minusFifteenMinutes()" type="button"> - 15 mins</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="user-votes"><p class="bold-heading">User Votes</p></td>
          <td><input id="user-votes" name="user_votes" type="text" value="0" required></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="plus_1_vote_button waves-effect waves-light btn-small" onclick="add1Vote()" type="button"> + 1</button>
            <button class="minus_1_vote_button waves-effect waves-light btn-small" onclick="minus1Vote()" type="button"> - 1</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="waves-effect waves-light btn-small" id="add-recipe" type="submit" name="action">Add Recipe
              <i class="material-icons right">add_box</i>
             </button>
           <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn-small show_all_recipes_button">Cancel</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="right-column"></div>
</div>

{% endblock %}
