<html>
    <head>
      <style>

      li{
        display: inline-block;
      }

      </style>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
          <ul>
            <li>Microblog:</li>
            <li><a href="/index">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><form action="{{ url_for('search_recipes') }}" method="POST" class="col s12">
              <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
              <input id="search-text" name="search_text" type="text" placeholder="Search" required>
              <select id="search_option" name="search_selected">
                <option value="category_name.category_name">Categories</option>
                <option value="cuisine_name.cuisine_name">Cuisines</option>
                <option value="user_votes">User Votes</option>
              </select>
              <select id="order_option" name="order_selected">
                <option value="UserVotesAscending">User Votes &uarr;</option>
                <option value="UserVotesDescending">User Votes &darr;</option>
                <option value="TotalTimeAscending">Total Time &uarr;</option>
                <option value="TotalTimeDescending">Total Time &darr;</option>
              </select>
              <button class="btn waves-effect waves-light" id="add-recipe" type="submit" name="action">Search</button>
            </form></li>
          </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
