{% extends 'base.html'%} {% block content %}
<div class="container">

  {% for category in categories %}

    <div class="row">

      <li>
        {{category.category_name}}
        <a href="{{url_for('delete_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
        <a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
      </li>
    </div>
  {% endfor %}

  <div class="row">
    <a href="{{ url_for('new_category') }}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
  </div>
  {% endblock %}
</div>
