{% extends 'base.html'%} {% block content %}

<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h3 class="form-heading">Edit Category</h3>
    <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST" class="col s12">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
      <div class="input-field col s12">
        <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
        <label for="icon_prefix">Category Name</label>
      </div>
      <button class="waves-effect waves-light btn-small" type="submit" name="action" id="edit_category">Edit Category
        <i class="material-icons right">edit</i>
      </button>
      <a href="{{ url_for('get_categories') }}" class="waves-effect waves-light btn-small grey" id="cancel_category">
        <i class="material-icons right">cancel</i>Cancel
      </a>
     </form>
   </div>
 <div class="right-column"></div>
</div>
{% endblock %}
