{% extends 'base.html'%} {% block content %}

<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h3 class="form-heading">Edit Cuisine</h3>
    <form action="{{ url_for('update_cuisine', cuisine_id=cuisine._id) }}" method="POST" class="col s12">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div class="input-field col s12">
          <input id="cuisine_name" name="cuisine_name" type="text" class="validate" value="{{cuisine.cuisine_name}}">
          <label for="icon_prefix">Cuisine Name</label>
        </div>
          <button class="waves-effect waves-light btn-small" type="submit" name="action" id="edit_cuisine">Edit Cuisine
            <i class="material-icons right">edit</i>
          </button>
          <a href="{{ url_for('get_cuisines') }}" class="waves-effect waves-light btn-small grey" id="cancel_cuisine">
            <i class="material-icons right">cancel</i>Cancel
          </a>
     </form>
   </div>
 <div class="right-column"></div>
</div>
{% endblock %}
