{% extends 'base.html'%} {% block content %}
<div class="form-container">
  <div class="left-column"></div>
  <div class="central-column">
    <h2 class="form-heading">All Cuisines</h2>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <table>
      {% for cuisine in cuisines %}
      <tr>
        <td class="cuisine_list_item">
            {{cuisine.cuisine_name}}
        </td>
        <td>
          <a href="{{url_for('delete_cuisine', cuisine_id=cuisine._id)}}"><span class="new badge delete_cuisine_button" data-badge-caption="Delete"></span></a>
        </td>
        <td>
          <a href="{{url_for('edit_cuisine', cuisine_id=cuisine._id)}}"><span class="new badge edit_cuisine_button" data-badge-caption="Edit"></span></a>
        </td>
      </tr>
      {% endfor %}
    </table>
      <div class="row last-button-row">
        <a href="{{ url_for('add_cuisine') }}" class="waves-effect waves-light btn-small">Add Cuisine
      <i class="material-icons right">add_box</i>
      </a>
    </div>
  </div>
  <div class="right-column"></div>
 </div>
{% endblock %}
