{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipies %}
        <li>
            <div class="collapsible-header">
                <div class=" recipe_header col s9">
                    <strong>{{recipe.recipe_name}}</strong>

                    <!-- TODO: add duration and category to the recipe header -->
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{recipe.recipe_description}}
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
