{% extends 'base.html'%} {% block content %}

<script src="{{ url_for('static', filename='node_modules/d3/dist/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/d3-tip/dist/index.js') }}"></script>

<style>

circle {
  opacity: 0.3;
  stroke: white;
}

.plot-div{
  width: 50%;
  display: block;
  margin: auto;
}

text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: white;
  font-size: 10px;
  text-anchor: middle;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: teal;
  color: #fff;
  border-radius: 4px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.title-text {
  float: right;
  clear: both;
  padding: 0 20px 0 20px;
}

.plot-svg {
  width: 100%;
  height: 100%;
}

.bubble-labels {
  font-size: 1.5vw;
}

</style>

<div class="title-text">
  <p>Welcome to Recipe Buddy, register to start adding your favourite recipes by cuisines.<br>Click on the graph labels to view recipes by cuisine.</p>
</div>
<div class="plot-div">
  <svg class="plot-svg">
    <g></g>
  </svg>
</div>
<script>
// Chart code taken from http://d3indepth.com/layouts/
var data = JSON.parse({{ resultData|tojson|safe }});

var viewPortWidth;
var viewPortHeight;
var margin = {top: 100, right: 150, bottom: 100, left: 150}

document.addEventListener('DOMContentLoaded', function() {

  if (typeof window.innerWidth != 'undefined') {
       viewPortWidth = window.innerWidth,
       viewPortHeight = window.innerHeight
  }

  drawGraph(viewPortWidth, viewPortHeight);

});

window.addEventListener("resize", function(){

  if (typeof window.innerWidth != 'undefined') {
       viewPortWidth = window.innerWidth,
       viewPortHeight = window.innerHeight
  }

  removeGraph();
  drawGraph(viewPortWidth, viewPortHeight);

}, true);


function removeGraph(){
  d3.selectAll('text').remove();
  d3.selectAll('g.plot-space').remove();
};


function drawGraph(viewPortWidth, viewPortHeight){

  var outerWidth  = (viewPortWidth * 2),
      outerHeight = (viewPortHeight * 1.5),
      color = d3.scaleOrdinal(d3.schemeCategory20c);

  var width  = outerWidth - margin.right - margin.left,
      height = outerHeight - margin.top - margin.bottom;

  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return d.children === undefined ? "<strong>User Votes:</strong> <span style='color:white'>" + d.data.value + "</span>" : '';
    })


  var packLayout = d3.pack()
    .size([(viewPortWidth/2.6), (viewPortWidth/2.6)])
    .padding(10)

  var rootNode = d3.hierarchy(data)

  rootNode.sum(function(d) {
    return d.value;
  });

  packLayout(rootNode);

  var nodes = d3.select('svg g')
    .attr("width", "100%")
    .attr("viewBox", "0 0 " + outerWidth + " " + outerHeight)
    .selectAll('g')
    .data(rootNode.descendants())
    .enter()
    .append('g')
    .attr("class", "plot-space")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .attr('transform', function(d) {return 'translate(' + [d.x, d.y] + ')'});

  nodes
    .append('circle')
    .attr('r', function(d) { return d.r; });

  d3.selectAll('circle')
    .filter(function(d) { return d.children === undefined ? d.data.name : ''; })
    .style("fill",function() {
      return "hsl(" + Math.random() * 360 + ",100%,50%)";
    });

  nodes
    .append('text')
    .attr('dy', 4)
    .text(function(d) {
      return d.children === undefined ? d.data.name : '';
    })
    .attr("class", "bubble-labels")
    .style("cursor", "pointer")
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide)
    .on("click",function(d){
      window.location = d.data.url});

  nodes.call(tip);

};

</script>

{% endblock %}
