{% extends 'base.html'%} {% block content %}

<script src="{{ url_for('static', filename='node_modules/d3/dist/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/d3-tip/dist/index.js') }}"></script>

<style>

circle {
  fill: indianred;
  opacity: 0.3;
  stroke: white;
}
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: white;
  font-size: 10px;
  text-anchor: middle;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

</style>

  <svg width="400" height="400">
    <g></g>
  </svg>

  <script>
// Chart code taken from http://d3indepth.com/layouts/

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return d.children === undefined ? "<strong>User Votes:</strong> <span style='color:red'>" + d.data.value + "</span>" : '';
    // return "<strong>User Votes:</strong> <span style='color:red'>" + d.data.value + "</span>";
  })

var data = JSON.parse({{ resultData|tojson|safe }});

var packLayout = d3.pack()
  .size([400, 400])
  .padding(10)

var rootNode = d3.hierarchy(data)

rootNode.sum(function(d) {
  return d.value;
});

packLayout(rootNode);

var nodes = d3.select('svg g')
  .selectAll('g')
  .data(rootNode.descendants())
  .enter()
  .append('g')
  .attr('transform', function(d) {return 'translate(' + [d.x, d.y] + ')'})

nodes
  .append('circle')
  .attr('r', function(d) { return d.r; })

nodes
  .append('text')
  .attr('dy', 4)
  .text(function(d) {
    return d.children === undefined ? d.data.name : '';
  })
  .style("cursor", "pointer")
  .on('mouseover', tip.show)
  .on('mouseout', tip.hide)
  .on("click",function(d){
    window.location = d.data.url});

nodes.call(tip);


</script>

{% endblock %}
