{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible expandable">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        {% for recipe in recipes %}
          <li>
            <div class="collapsible-header recipe-header wrapper">
              <div class="content">
                {{recipe.recipe_name}} - {{recipe.category_name['category_name']}} - {{recipe.cuisine_name['cuisine_name']}} - {{recipe.total_time}} Minutes to Prepare - User Votes: {{recipe.user_votes}}
              </div>
                <div class="sidebar">
                  <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"><span class="new badge show_recipe_button" data-badge-caption="Show Recipe"></span></a>
              </div>
            </div>
            <div class="collapsible-body recipe-description">
                {{recipe.recipe_description}}
            </div>
        </li>
      {% endfor %}
      {% if number_results == 0 %}
        <p id="no-recipes-found">No Recipes found</p>
      {% endif %}
    </ul>
</div>
{% endblock %}
