{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="recipe-header col s9">Recipe Name
        <strong>{{recipes.recipe_name}}</strong>
    </div>
    <div class="recipe-description">Description
      <span>
        {{recipes.recipe_description}}
      </span>
    </div>
</div>
<div class="row">
    <div class="category-name">Category:
      <span>
        {{categories.category_name}}
      </span>
    </div>
</div>
<div class="row">
    <div class="cuisine-name">Cuisine:
      <span>
        {{cuisines.cuisine_name}}
      </span>
    </div>
</div>
<div class="row">
  <div class="instruction-header col s9">
      <strong>Instructions</strong>
  </div>
</div>
<div class="row">
  <ol class="input_fields_wrap_instructions">
    {% for i in instructions %}
      <li>{{i}}</li>
    {% endfor %}
  </ol>
</div>
<div class="row">
  <div class="ingredients-header col s9">
      <strong>Ingredients</strong>
  </div>
</div>
<div class="row">
  <ol class="input_fields_wrap_ingredients">
    {% for ing in ingredients %}
      <li>{{ing}}</li>
    {% endfor %}
  </ol>
</div>
<div class="row">
  <div class="total-time col s9">Total Time
      <strong>{{recipes.total_time}}</strong> Mins
  </div>
</div>
<div class="row">
  <a href="{{url_for('edit_recipe', recipe_id=recipes._id)}}" class="waves-effect waves-light btn btn_small blue edit_recipe_button">Edit</a>
  <a href="{{url_for('delete_recipe', recipe_id=recipes._id)}}" class="waves-effect waves-light btn btn_small blue delete_recipe_button">Delete</a>
  <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn btn_small blue show_all_recipes_button">Show All Recipes</a>
</div>
{% endblock %}
